/* ----- Page Setup ----- */

body {
    background-color: #2C2F33;
    color: white;
}

footer {
    background-color: #262626;
    border: 1px solid #262626;
}

footer p.footer-text {
    margin: 2rem auto;
    text-align: center;
}

/* ----- Sidebar Styling (Bootstrap Override) ----- */
#sidebar-nav {
    padding: 1em;
    width: 250px;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    overflow: auto;
    max-height: 100vh;
}

a.sidebar-link {
    text-decoration: none;
    color: #2C2F33;
    font-size: 18px;
    margin-top: 5px;
    line-height: 18px;
    margin-bottom: 1rem;
}

a.sidebar-link:hover {
    text-decoration: underline;
}

div.sidebar-text {
    font-size: 24px;
    color: #2C2F33;
    margin-left: 1em;
    margin-bottom: 1em;
}

div.sidebar-divider {
    height: 8px;
    min-height: 8px;
    background-color: #2C2F33;
    margin-top: 1em;
    margin-bottom: 1em;
}

#sidebar-nav .bullet {
    font-size: 2em;
    line-height: 1rem;
    color: #2C2F33 !important;
}

/* ----- Text Pages ----- */
.text-page-container {
    width: calc(4 * (10rem + 2em + 2px));
    margin: 2em auto;
}

.text-page-container ol > li {
    margin-bottom: 1em;
}

/* ----- Tables ----- */
table.no-border {
    margin-bottom: 1em;
}

table.no-border > tr > td,
table.no-border > tr > th {
    padding-left: 1em;
    padding-right: 1em;
}

table.dialogue-table {
    border-spacing: 0;
    border-collapse: separate;
    border: 1px solid darkgray;
    border-radius: 10px;
    margin-bottom: 1em;
}

table.dialogue-table > tr > td {
    border-radius: 5px;
    padding-left: 1em;
    padding-right: 1em;
}

table.dialogue-table > tr > td:first-child {
    border-right: 1px solid darkgray;
    border-radius: 0px;
}

table.text-center {
    text-align: center;
}

table.full-border {
    border-spacing: 0;
    border-collapse: separate;
    border: 1px solid darkgray;
    border-radius: 10px;
    margin-bottom: 1em;
}

table.full-border > tr > td,
table.full-border > tr > th {
    border-right: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
    border-radius: 0px;
    padding-left: 1em;
    padding-right: 1em;
}
table.full-border > tr > td:last-child,
table.full-border > tr > th:last-child {
    border-right: none;
}

table.full-border > tr:last-child > td {
    border-bottom: none;
}

table.full-border > tr > th {
    border-bottom: 1px solid darkgray;
}

/* ----- Prev/Next Page Buttons ----- */
.page-button-container {
    display: flex;
    justify-content: space-between;
}

.button-container {
    display: flex;
    justify-content: space-between;
    max-width: calc(4 * (10rem + 2em + 2px));
    margin-top: 1.5em;
    padding: 0 1.2em;
}

.page-button-container a, .button-container a {
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 1em 2em;
    text-decoration: none;
    transition: background-color 0.2s ease, color 0.2s ease;
    margin-bottom: 1em;
}

.next-button:hover, .prev-button:hover, .home-button:hover {
    color: #2C2F33 !important;
}

.button-container a:hover {
    color: #2C2F33 !important;
    background-color: white;
}

/* ----- Audio Players ----- */


/* ----- Additional Card Styles ----- */
.cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: calc(4 * (10rem + 2em + 2px));
}

.lesson-card {
    width: 10rem;
    height: 12rem;
    margin: 1em;
    background-color: rgba(0,0,0,0);
    border: 1px solid white;
}

.lesson-card:hover {
    transform: scale(1.03);
    transition: 0.25s ease-in-out;
}

.lesson-card-image, .lesson-card-image svg {
    height: 8rem;
    width: 10rem;
}

.card-text {
    color: white;
    text-align: center;
    text-decoration: underline;
}

/* ----- Lesson Styles ----- */
.lesson-title-container {
    margin-top: 1em;
    display: flex;
    height: 60px;
    align-items: center;
    margin-bottom: 2em;
}

.lesson-circle {
    flex: 0 0 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    box-sizing: content-box;
    font-size: 28px;
}

.lesson-title {
    padding-top: 5px;
    padding-left: 2em;
    height: 60px;
    line-height: 60px;
    flex: 1 0 60px;
}

/* ----- MEDIA QUERIES ----- */
@media screen and (max-width: 801px) {
    #sidebar-nav {
        display: none;
    }
}

@media screen and (min-width: 801px) {
    .lesson-container {
        padding: 2em 5em !important;
    }
}
